@import '../../assets/scss/customer/utilty';
.memCenter{

  // 側邊選單
  .mem-cate-box{
    flex: 165px;
    flex-grow: 0;
    flex-shrink: 0;
    .mem-cate{
      background-color: $cus-green;
      // height: 300px;
      >nav.nav{
        padding:20px 0 20px 20px;
        a.nav-link{
          background-color: transparent;
          color:#fff;
          transition: .3s;
          // &:hover{
          //   color: $cus-menuBar-second;
          //   background-color: #fff;
          // }
          &.router-link-exact-active{
            color: $cus-menuBar-second;
            background-color: #fff;
          }
        }
      }
    }
  }
  // hover效果
  @media screen and (min-width: 768px) {
    .mem-cate-box{
      .mem-cate{
        >nav.nav{
          a.nav-link{
            &:hover{
              color: $cus-menuBar-second;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .mem-cate-box{
      position: fixed;
      top: 105px;
      left: 0;
      z-index: 1030;
      width: 100%;
      flex:1;
      transition:  .3s;
      .mem-cate{
        // background-color: $cus-menuBar-bg;
        background-color: #fff;
        border-bottom: 5px solid $cus-menuBar-bg;
        // padding: 0 10px;
        >nav.nav{
          // padding: 10px 0;
          padding: 0;
          a.nav-link{
            // border-radius: 20px; 
            color: #888;
            // &:not(:first-child){
            //   margin-left:10px;
            // }
            // background-color: $cus-green;
            &.router-link-exact-active{
              color: #fff;
              background-color: $cus-menuBar-bg;
            }
          }
        }
      }
      // rwd 偏移 側邊欄開啟
      &.rwdSwitchOn{
        left: 50%;
      }
    }
    .rwd-nav{
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }
  @media screen and (max-width: 575px) {
    .mem-cate-box{
      // rwd 偏移 側邊欄開啟
      &.rwdSwitchOn{
        left: 80%;
      }
    }
  }
}
