<div class="indexPage">
  <div class="w-100 banner-bg mb-3">
      <!-- <bannerItme :autoplayStatus="true"/> -->

      <div class="container rwd-full rwd-p-0">
        <div class="row">
          <div class="col-lg-9 pr-lg-0">
            <bannerItme :autoplayStatus="true" :banerList="bannerList" v-if="bannerList.length>0"/>
          </div>

          <!-- pc 版最新消息 -->
          <div class="col-lg-3 pl-lg-0 d-lg-block d-none">
            <ul class="nav nav-pills nav-fill product-cate-menu news-menu">
              <li class="nav-item">
                <a class="nav-link rounded-0 active text-left" href="javascript:;">
                  <span class="news-img"><img src="img/news_icon.png" class="img-fluid w-100" alt=""></span>
                  最新消息
                </a>
              </li>
            </ul>
            <div class="news-menu-area-box col-12 mt-0">
              <div class="news-menu-box d-flex justify-content-start align-items-start" v-for="item in 3">
                <div class="news-menu-box-date">
                  <div class="date-y-m">2019/06</div> 
                  <div class="date-d">20</div>
                </div>
                <div class="news-menu-box-content">
                  <div class="news-menu-box-content-title">守護嬌嫩之肌!</div>
                  <div class="news-menu-box-content-descibe">日本銷售量No.1，日本信賴之選!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
  </div>
  
  <div class="container">
    <div class="row">
      <!-- 連採中 -->
      <div class="col-12 my-3">
        <div class="cate-title title-cus-green bg-white d-flex justify-content-center align-items-center">
          <h5 class="m-0">連採中商品</h5>
        </div>
        <div class="product-cate-box py-3 col-12 position-relative">
          <loading 
            :active.sync="jointproductShowLoading"
            color="rgba(36, 94, 96,1)"
            :opacity= "loadingOpacity"
            :is-full-page="fullNone"
            loader="dots"
          >
          </loading>
          <carousel 
          :autoplay="vueCarouselAuto" 
          :loop="false"
          :perPageCustom="[[300, 2], [576, 3], [768, 4], [992, 5]]"
          :navigationEnabled="true"
          :paginationActiveColor="vueCarouselDotActiveColor"
          :navigationNextLabel="vueCarouselNextLabel"
          :navigationPrevLabel="vueCarouselPrevLabel"
          >
            <slide v-for="item in jointProductsList" :key="item.id">
              <transition name="scale" mode="out-in" appear>
                <productItem class="product-relate-box-productList" :productID="item.id" :productName="item.name_tw" :originPrice="item.list_price" :price="item.price" img="/img/product-5.png"/>
              </transition>
            </slide>
          </carousel>
        </div>  
      </div>
      <!-- 連採中 end-->

      <div class="col-12 my-3">
        <img src="/img/adimgtest.png" alt="">
      </div>

      <!-- 推薦商品 -->
      <div class="col-12 my-3">
        <div class="cate-title title-cus-orange bg-white d-flex justify-content-center align-items-center">
          <h5 class="m-0">推薦商品</h5>
        </div>

        <div class="product-cate-box py-3 col-12 position-relative">
          <loading 
            :active.sync="recommendproductShowLoading"
            color="rgba(36, 94, 96,1)"
            :opacity= "loadingOpacity"
            :is-full-page="fullNone"
            loader="dots"
          >
          </loading>
          <div class="row d-flex align-items-center">
            <div class="col-md-5 col-12">
              <transition name="fade" mode="out-in" appear>
                <imgLazyLoading class="adBox2x1" :imgUrl="recommendBanner" v-if="recommendBanner"/>
              </transition>
            </div>
            <div class="col-md-7 col-12 py-md-0 py-3">
              <carousel 
              :autoplay="vueCarouselAuto" 
              :loop="false"
              :perPageCustom="[[300, 2],[576, 3] , [768, 2] , [992, 3]]"
              :navigationEnabled="true"
              :paginationActiveColor="vueCarouselDotActiveColor"
              :navigationNextLabel="vueCarouselNextLabel"
              :navigationPrevLabel="vueCarouselPrevLabel"
              >
                <slide v-for="item in recommendProductsList" :key="item.id">
                  <transition name="scale" mode="out-in" appear>
                    <productItem class="product-relate-box-productList" :productID="item.id" :productName="item.name_tw" :originPrice="item.list_price" :price="item.price" img="/img/product-4.png"/>
                  </transition>
                </slide>
              </carousel>
            </div>
          </div>
        </div>  
      </div>
      <!-- 推薦商品 end-->

      <!-- 供應商 及 廣告 -->
      <div class="col-12 mt-3">
        <h4 class="text-center zf-title">熱門品牌</h4>
      </div>
      <div class="col-12 mb-3">
        <div class="d-flex flex-wrap flex-margin-box-adjust position-relative loadingMinHeight">
          <loading 
            :active.sync="vendorShowLoading"
            color="rgba(36, 94, 96,1)"
            :opacity= "loadingOpacity"
            :is-full-page="fullNone"
            loader="dots"
          >
          </loading>
          <div class="vendor-box mb-3" v-for="(item, key) in hotVendor" :key="key">
              <transition name="fade" mode="out-in" appear>
                <imgLazyLoading class="vendorBoxArea" :imgUrl="item.img" imgError="img/image_error_3x1.png"/>
              </transition>
          </div>
        </div>  
            
        <!-- 廣告 -->
        <div class="d-flex flex-wrap flex-margin-box-adjust position-relative loadingMinHeight">
            <loading 
            :active.sync="adShowLoading"
            color="rgba(36, 94, 96,1)"
            :opacity= "loadingOpacity"
            :is-full-page="fullNone"
            loader="dots"
          >
          </loading>
          <div class="ad-box mb-3" v-for="(item, key) in advertisement" :key="key">
              <transition name="fade" mode="out-in" appear>
                <imgLazyLoading class="adBoxArea" :imgUrl="item.img" imgError="img/image_error_3x1.png"/>
              </transition>
          </div>
        </div>

      </div>
      <!-- 供應商 及 廣告 end-->

      <!-- 秒殺商品 -->
      <div class="col-12 my-3">
        <div class="cate-title title-cus-orange bg-white d-flex justify-content-center align-items-center">
          <h5 class="m-0">秒殺商品</h5>
        </div>

        <div class="product-cate-box py-3 col-12 position-relative">
          <loading 
            :active.sync="fastproductShowLoading"
            color="rgba(36, 94, 96,1)"
            :opacity= "loadingOpacity"
            :is-full-page="fullNone"
            loader="dots"
          >
          </loading>
          <div class="row d-flex align-items-center flex-md-row flex-column-reverse">
            <div class="col-md-7 col-12 py-md-0 py-3">
              <carousel 
              :autoplay="vueCarouselAuto" 
              :loop="false"
              :perPageCustom="[[300, 2],[576, 3] , [768, 2] , [992, 3]]"
              :navigationEnabled="true"
              :paginationActiveColor="vueCarouselDotActiveColor"
              :navigationNextLabel="vueCarouselNextLabel"
              :navigationPrevLabel="vueCarouselPrevLabel"
              >
                <slide v-for="item in fastProductsList" :key="item.id">
                  <transition name="scale" mode="out-in" appear>
                    <productItem class="product-relate-box-productList" :productID="item.id" :productName="item.name_tw" :originPrice="item.list_price" :price="item.price" img="/img/product-3.png"/>
                  </transition>
                </slide>
              </carousel>
            </div>
            <div class="col-md-5 col-12">
              <transition name="fade" mode="out-in" appear>
                <imgLazyLoading class="adBox2x1" :imgUrl="fastBanner" v-if="fastBanner"/>
              </transition>
            </div>
          </div>
        </div>  
      </div>
      <!-- 秒殺商品  end-->

      <!-- 熱銷商品 -->
      <div class="col-12 my-3">
        <div class="cate-title title-cus-green bg-white d-flex justify-content-center align-items-center">
          <h5 class="m-0">熱銷商品</h5>
        </div>

        <div class="product-cate-box py-3 col-12 position-relative">
          <loading 
            :active.sync="hotSaleproductShowLoading"
            color="rgba(36, 94, 96,1)"
            :opacity= "loadingOpacity"
            :is-full-page="fullNone"
            loader="dots"
          >
          </loading>
          <carousel 
          :autoplay="vueCarouselAuto" 
          :loop="false"
          :perPageCustom="[[300, 2],[576, 3] , [768, 4] , [992, 5]]"
          :navigationEnabled="true"
          :paginationActiveColor="vueCarouselDotActiveColor"
          :navigationNextLabel="vueCarouselNextLabel"
          :navigationPrevLabel="vueCarouselPrevLabel"
          >
            <slide v-for="item in hotSaleProductsList" :key="item.id">
              <transition name="scale" mode="out-in" appear>
                <productItem class="product-relate-box-productList" :productID="item.id" :productName="item.name_tw" :originPrice="item.list_price" :price="item.price" img="/img/product-2.png"/>
              </transition>
            </slide>
          </carousel>
        </div>  
      </div>
      <!-- 熱銷商品 end -->

      <!-- rwd 最新消息 -->
      <div class="col-lg-3 my-3 d-block d-lg-none">
        <ul class="nav nav-pills nav-fill product-cate-menu news-menu">
          <li class="nav-item">
            <a class="nav-link rounded-0 active text-left" href="javascript:;">
              <span class="news-img"><img src="/img/news_icon.png" class="img-fluid w-100" alt=""></span>
              最新消息
            </a>
          </li>
        </ul>
        <div class="product-cate-box col-12 py-2">
          <div class="news-menu-box d-flex justify-content-start align-items-start" v-for="item in 3">
            <div class="news-menu-box-date">
              <div class="date-y-m">2019/06</div> 
              <div class="date-d">20</div>
            </div>
            <div class="news-menu-box-content">
              <div class="news-menu-box-content-title">守護嬌嫩之肌!</div>
              <div class="news-menu-box-content-descibe">日本銷售量No.1，日本信賴之選!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
     

    <div class="row my-3">
      <div class="col-12">
        <h4 class="text-center zf-title">活動專區</h4>
      </div>
      <div class="col-12">
        <div class="row">
          <loading 
            :active.sync="actShowLoading"
            color="rgba(36, 94, 96,1)"
            :opacity= "loadingOpacity"
            :is-full-page="fullNone"
            loader="dots"
            style="margin:0 15px;"
          >
          </loading>
          <div class="col-lg-5 pr-lg-0">
            <transition name="fade" mode="out-in" appear>
              <imgLazyLoading class="zfActBox" :imgUrl="actImg" v-if="actImg"/>
            </transition>
          </div>
          <div class="col-lg-7 pl-lg-0">
            <div class="product-act-box col-12 bg-white  d-flex align-items-center">
              <div class="row py-4 py-lg-0">
                <div class="col-md-3 col-6 px-2" v-for="item in actListAPI" :key="item.id">
                  <transition name="scale" mode="out-in" appear>
                    <productItem class="product-act-box-productList" :productID="item.id" :productName="item.name_tw" :originPrice="item.list_price" :price="item.price" img="/img/product-1.png"/>
                  </transition>  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
