@import '../../assets/scss/customer/utilty';
.memOrderCheck{
  .cart-menu{
    background-color: #fff;
    >.nav-item{
      >a{
        position: relative;
        color:#fff;
        width: 150px;
        letter-spacing: 10px;
        text-align:center;
        &:before{
          position: absolute;
          content: '';
          display: inline-block;
          width: 100%;
          height: 5px;
          top: -5px;
          left: 0;
          transition: .2s;
          z-index: 1;
        }
        &:after{
          position: absolute;
          content: '';
          display: inline-block;
          width: 100%;
          height: 5px;
          top: -5px;
          left: 0;
          transition: .2s;
        }
        &.direct-nav-btn{
          background-color: $cus-green;
          &:before{
            background-color: darken($cus-green, 20%);
          }
          &:after{
            background-color: $cus-green;
          }
        }
        &.joint-nav-btn{
          background-color: $cus-menuBar-second;
          &:before{
            background-color: darken($cus-menuBar-second, 20%);
          }
          &:after{
            background-color: $cus-menuBar-second;
          }
        }
        &.active{
          color:#fff;
          &:before{
            top: -10px;
          }
        }

        @media screen and (min-width: 768px) {
          &:hover{
            &:before{
              top:-10px;
            }
          }
        }
      }
    }
  }

  // fix 手機版區塊
  @media screen and (max-width:575px) {
    // 主頁籤
    .cart-menu{
      padding-right: 0;
      >.nav-item{
        flex:1;
        >a{
          width: 100%;
        }
      }
    }
        
    // border
    .border-fix{
      border-bottom: 10px solid #eff9f9 !important;
    }
  }
}
