@import '../../assets/scss/customer/utilty';

.footerbox{
  // position: absolute;
  // width: 100%;
  // bottom: 0;
  // left: 0;
  background: linear-gradient(180deg, $footerColor-up 0%, $footerColor-down 100%);
  padding : 50px  0;
  font-size: 12px;
  color:$footerFontColor;

  .comp-info{
    // margin-bottom:50px;
    margin-right:30px;
    .comp-title{
      .ch-title{
        font-size: 21px;
      }
      .en-title{
        transform: scale(.9);
        transform-origin: 0 0;
      }
    }
    .comp-sub-title{
      border-top: 1px solid $footerFontColor;
      >div{
        font-size: 20px;
      }
    }
  }
  
  .web-info{
    .web-info-area{
      width: 90px;
      // outline: 1px solid #ccc;
      margin-right: 40px;
      margin-bottom: 50px;
      &:last-child{
        margin-right:0;
      }

      .web-info-area-title{
        line-height: 15px;
        &:after{
          content: '';
          display:block;
          margin-top: 5px;
          background-color: $footerFontColor;
          width: 100%;
          height: 1px;
        }
      }
      .web-info-area-option{
        padding-left: 3px;
        a{
          color:$footerFontColor;
          transition: .5s;
          &:hover{
            text-decoration: none;
            color:$cus-green;
          }
        }
      }
    }
  }  

  .contact{
    // outline: 1px solid #f00;
    width: 235px;
    position: relative;
    top:-50px;
    .contact-box{
      background-color: #45c7b6;
      padding: 20px 35px;
      margin-bottom:15px;
      .img{
        width: 40px;
      }
      .contact-phone{
        color : $cus-yellow;
        font-size: 15px;
      }
      &:before{
        content:'';
        display: inline-block;
        width: 100%;
        height: 5px;
        position: absolute;
        top: -5px;
        left: 0;
        background-color: #089784;
      }
    }

    .social-box{
      .line-social,.FB-social{
        width: 50px;
        height: 50px;
        background-color: #fff;
      }
    }
  }
  .copyright{
    transform: scale(.9);
    transform-origin: 100%;
    position: absolute;
    bottom:-45px;
    right: 0;
  }

  @media screen and (max-width: 991px){
    .comp-info{
      margin-right: 0;
      .comp-sub-title{
        border-top: none;
        >div{
          text-align: center;
        }
      }
    }
    .web-info{
      width: 100%;
      .web-info-area{
        margin-right: 0;
        text-align: center;
        width: 25%;
        padding:0 20px;
      }
    }
    .copyright{
      right: 50%;
      transform: scale(0.9) translateX(50%);  
    }
  }
  @media screen and (max-width: 767px) {
    .copyright{
      width: 280px;
    }
  }
  @media screen and (max-width: 575px) {
    .web-info{
      .web-info-area{
        width: 50%;
        padding:0 30px;
      }
    }
  }
}
