<div class="home" :class="{'rwdSwitchOn' : menuStatus}">
  <navBar/>
  <!-- Home -->
  <!-- <div class="content">home</div> -->
  <div class="innerPageMinHeight">
    <transition name="fade" mode="out-in" appear>
      <router-view v-if="isShowing"></router-view>
    </transition>  
  </div>

  <!-- 功能 -->
  <!-- <transition name="gotopOption" mode="out-in" appear>
    <div class="mainOption d-flex flex-column align-items-center justify-content-center" v-if="optionSwitch">
      <div class="line-cus-server">
        <span>Line客服</span> 
      </div>
      <div class="FB-socail font-color-lightblue">
        <span>FB粉絲頁</span> 
      </div>
      <div class="gotop d-flex flex-column align-items-center mx-0" @click="gotop">
        <md-icon class="md-size-2x">keyboard_arrow_up</md-icon>
        <span>TOP</span>  
      </div>
    </div>
  </transition> -->
  
  <transition name="gotopOption" mode="out-in" appear>
    <div class="cus-option d-flex flex-column align-items-center" v-if="optionSwitch">
      <md-speed-dial class="" md-direction="top" >
        <md-speed-dial-target class="md-primary md-dense">
          <md-icon class="md-morph-initial text-white">priority_high</md-icon>
          <md-icon class="md-morph-final text-white">close</md-icon>
        </md-speed-dial-target>

        <md-speed-dial-content>
          <md-button class="md-icon-button fb-font-color">
            <i class="fab fa-facebook-f fa-2x"></i>
          </md-button>

          <md-button class="md-icon-button text-success">
            <i class="fab fa-line fa-2x"></i>
          </md-button>
        </md-speed-dial-content>
      </md-speed-dial>
      <md-button class="md-fab md-mini bg-color-cus-green mt-2 mx-0" @click="gotop">
        <md-icon class="md-size-2x">keyboard_arrow_up</md-icon>
      </md-button>
    </div>
    
  </transition>
  
  
  <footerBox/>
</div>
