<div class="login innerPage">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="login-box bg-white d-flex flex-column align-items-center py-3">
          <div class="form-group">
            <label>帳號</label>
            <input class="form-control form-control-sm cus-input cus-with-250" type="text" placeholder="請輸入帳號">
          </div>
          <div class="form-group">
            <label>密碼</label>
            <input class="form-control form-control-sm cus-input cus-with-250" type="text" placeholder="請輸入密碼">
          </div>
    
          <buttonType class="goShop my-5" btnStr="登入" @stepGo="login"/>
        </div>
      </div>
    </div>
  </div>
</div>
