@import '../../assets/scss/customer/utilty';

.cart{
  .cart-menu{
    background-color: #fff;
    >.nav-item{
      >a{
        position: relative;
        color: #fff;
        width: 150px;
        letter-spacing: 10px;
        text-align:center;
        &:before{
          position: absolute;
          content: '';
          display: inline-block;
          width: 100%;
          height: 5px;
          top: -5px;
          left: 0;
          transition: .2s;
          z-index: 1;
        }
        &:after{
          position: absolute;
          content: '';
          display: inline-block;
          width: 100%;
          height: 5px;
          top: -5px;
          left: 0;
          transition: .2s;
        }
        &.direct-nav-btn{
          background-color: $cus-green;
          &:before{
            background-color: darken($cus-green, 20%);
          }
          &:after{
            background-color: $cus-green;
          }
        }
        &.joint-nav-btn{
          background-color: $cus-menuBar-second;
          &:before{
            background-color: darken($cus-menuBar-second, 20%);
          }
          &:after{
            background-color: $cus-menuBar-second;
          }
        }
        &.active{
          &:before{
            top:-10px;
          }
        }

        @media screen and (min-width: 768px) {
          &:hover{
            &:before{
              top:-10px;
            }
          }
        }
      }
    }
  }

  .cusInput{
    width: 120px;
    margin-right: 16px;
  }
  .section{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rwdline{
    width: calc( 100% + 30px) ;
    margin-left: -15px;
    height: 1px;
  }
  // rwd fix
  @media screen and (max-width: 1199px) {
    .rwd-invoice-fix{
      .title{
        margin-top: 5px;
      }
      .radio{
        margin-top: -10px;
        .cusInput{
          margin-right: 0;
          width: 160px;
        }
      }
    }
  }
  
  // fix 手機版區塊
  @media screen and (max-width:575px) {
    // 主頁籤
    .cart-menu{
      padding-right: 0;
      >.nav-item{
        flex:1;
        >a{
          width: 100%;
        }
      }
    }
        
    // border
    .border-fix{
      border-bottom: 10px solid #eff9f9 !important;
    }
  }
}

// 移除 input number 上下按鈕
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
